---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=80bc0ddf&t=Harry%20Potter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 27 Jul 2021 12:58:34 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Harry Potter and the Deathly Hallows: Part 2","Year":"2011","Rated":"PG-13","Released":"15
        Jul 2011","Runtime":"130 min","Genre":"Adventure, Drama, Fantasy","Director":"David
        Yates","Writer":"Steve Kloves, J.K. Rowling","Actors":"Daniel Radcliffe, Emma
        Watson, Rupert Grint","Plot":"Harry, Ron, and Hermione search for Voldemort''s
        remaining Horcruxes in their effort to destroy the Dark Lord as the final
        battle rages on at Hogwarts.","Language":"English","Country":"United Kingdom,
        United States","Awards":"Nominated for 3 Oscars. 46 wins & 94 nominations
        total","Poster":"https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"8.1/10"},{"Source":"Rotten Tomatoes","Value":"96%"},{"Source":"Metacritic","Value":"85/100"}],"Metascore":"85","imdbRating":"8.1","imdbVotes":"790,377","imdbID":"tt1201607","Type":"movie","DVD":"24
        Jul 2014","BoxOffice":"$381,409,310","Production":"Warner Bros., Moving Picture
        Company, Heyday Films","Website":"N/A","Response":"True"}'
  recorded_at: Tue, 27 Jul 2021 13:25:17 GMT
recorded_with: VCR 6.0.0
